$base-background-color: $color-dark;
$red-month: $color-red;
$green-month: $color-green;
$gray-month: $color-gray;
$blue-month: $color-blue;
$text-color: $color-white;
$card-background: $color-dark-gray;
