@import "main";

.card {
  width: 100%;
  background: $card-background;
  padding: 5px;
  height: 210px;
  border-radius: 5px;
  cursor: pointer;

  &__photo {
    width: 100%;
    height: 100px;
    background: url("../../../../../assets/profile.svg") no-repeat center center;
    background-size: contain;
    margin-bottom: 25px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__name {
    margin-bottom: 10px;
    text-align: center;
  }

  &__date {
    margin-bottom: 25px;
    text-align: center;
  }

  &:hover {
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.75);
  }
}
